@tailwind base;
@tailwind components;
@tailwind utilities;


.mark{
    position: relative; 
    width: 300px;
    min-height: 300px;
    background-size: contain;
}
.mark::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.shutterstock.com/image-vector/grunge-black-roller-marks-ink-260nw-57328726.jpg');
    background-size: 100%;
    background-position: center;
    mix-blend-mode: screen;
}